:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --ratio: 1.4;
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));



  --textColor: black;
  --color1: rgb(178, 247, 155);
  --color2: hotpink;
  --color3: yellow;
  --lightGray: #eee;
  --black: black;
  --gray: gray;
  --darkGray: #333;
  --bgURL: url('https://storage.googleapis.com/molly-archive/backgrounds/BG9.gif')
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




a {
  color: inherit;
  text-decoration: none;
}

#info a {
  color: blue;
  text-decoration: underline;
}
main {
  background-image: var(--bgURL);
  background-size: auto;

  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */

}


#preview-message {
  position: fixed;
  background: #eee;
  color: black;
  top: var(--s-1);
  left: var(--s-1);
  z-index: 99;
  border-radius: var(--s-1);
  padding: var(--s-2);

}



.fullBleed {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.padded {
  padding: var(--s-1);
}


.stack {
  display: flex;
  flex-direction: column;
}

.stack>*+* {
  margin-top: var(--s-2);
}

.stack .align-end {
  align-self: end;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
}


.horizontal-stack>*+* {
  margin-left: var(--s-2);
}

.app {
  position: absolute;
  z-index: 10;
  box-shadow: 0px 0px var(--s0) var(--color1);
  border: 1px solid black;
  display: flex;
  flex-direction: column;

}

.app .handle {
  height: 24px;
  background: var(--color1);
  border-bottom: 1px solid var(--black);
  cursor: move;
  position: relative;
}


.app .handle .icon {
  position: absolute;
  height: 24px;
  padding: 4px;
}

.app .handle .icon img {
  position: relative;
  height: 100%;
  width: auto;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

}

.app .handle .title {
  font-size: var(--s-1);
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 4px;
}


.hideOverflow {
  overflow: hidden;
}

.caption {
  font-size: var(--s-1);
}

#videoEditor {
  top: 30%;
  left: 40%;
  --editorWidth: min(50vw, 540px);
  width: var(--editorWidth);
  z-index: 11;
}

#stream {
  top: 10%;
  left: calc(25% + min(50vw, 540px));
  --streamWidth: max(22vw, 300px);
  width: var(--streamWidth);
  /* 1920 x 1080  */
  height: calc(var(--streamWidth) / 1.52);
  overflow: hidden;

}

.lightFill {
  background: var(--lightGray);
}
#loader {
  top: 50%;
  left: 50%;
  background: var(--lightGray);
  font-size: var(--s1);

}

#chat {
  top: 20%;
  left: 12%;
  width: 15vw;
  min-width: 300px;
  z-index: 9;
}

#settings {
  top: calc(100% - 100px);
  left: 45%;
  display: flex;
  background: var(--lightGray);
}

#password {
  top: 30%;
  left: 40%;
  background: var(--lightGray);
}

input {
  border: 1px solid gray;
}

*:focus {
  outline-color: var(--color2);
}

.loading-scrim {
  /* background: rgba(255,255,255,0.3); */
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.chat-input {
  background: white;
  border-bottom: 1px solid var(--black);
  padding: var(--s-3);

}

.chat-input>* {
  align-self: flex-start;
}

.chat-input>.text-input {
  width: 100%;
  flex: 1;
  font-size: var(--s0);
}

.text-input>.user-input {
  width: 12ch;
  padding: var(--s-1);
}

.text-input>.message-input {
  margin-top: var(--s-3);
  padding: var(--s-2);
  font-size: var(--s0);
}

.chat-input>.button {
  padding: 0;
  vertical-align: middle;
  padding: var(--s-3) var(--s-4);
  align-self: flex-end;
}

.chat-input>.button img {
  width: var(--s0);
  height: var(--s0);
}



.chat-input .button {
  display: inline-block;
}


#chat .chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  padding: var(--s-3);
  background: var(--lightGray);

}

.chat-messages .message {
  align-self: flex-start;
  border-radius: var(--s-3);
  text-align: left;
  color: var(--textColor);
  background: var(--color3);
  padding: var(--s-2);
  margin-top: var(--s-2);
  border: 1px solid var(--black);
  max-width: 100%;
  word-break: break-word;
}

.chat-messages .message:first-child {
  margin-top: 0;
}

/* VIDEO EDITOR */

/* The entire player */
.videoPlayer {
  overflow: hidden;
  border-bottom: 1px solid black;
  position: relative;
}

.videoPlayer,
.previewVideo {
  width: calc(100% + 1px);
  height: calc(var(--editorWidth) / 1.505);
}

.previewVideo {
  display: block;
  background: #eee;
  position: absolute;
  opacity: 1;
}

.previewVideo .loading-indicator {
  position: absolute;
  top: 10%;
  left: 43%;
}

.previewVideo.hide {
  opacity: 0;
}

.previewVideo video {
  width: 100%;
}

/* Timeline */

/* The cursor */
.videoTimelineContainer {
  height: var(--s4);
  position: relative;
}

.videoTimelineGuide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color2);
  opacity: 0.9;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.videoTimelineContainer:hover .videoTimelineGuide {
  display: none;
}

.timelineCursor {
  background: var(--color2);
  z-index: 4;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 4px;
  padding-bottom: 2px;
  border-radius: 50%;
}

.timelineCursor:hover {
  background: var(--color1);
}

.timelineCursor img {
  width: var(--s0);
}


.videoTimeline {
  width: 100%;
  height: 100%;
  display: flex;
}

.videoTimelineThumb {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  background: var(--color1);
  border-right: 1px solid black
}

.videoTimelineThumb:last-child {
  border-right: none;
}

.videoTimelineThumb .poster {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.videoTimelineThumb .poster img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0%;
  right: -40%;
}



.videoTimelineThumb>div {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoDropZone .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  border-top: 1px solid black;
  background: var(--color2);
  font-size: var(--s-2);
}

.videoDropZone.flash,
.videoDropZone.flash .caption {
  background: var(--color3);
}

.videoTimelineThumb.isHovering .poster img,
.videoDropZone.flash .poster img {
  opacity: 0.5;
}

.videoTimelineThumb.isHovering .caption {
  background: var(--color1);
}


.button {
  border-radius: var(--s-1);
  padding: var(--s-2);
  cursor: pointer;
  background: var(--color2);
  border: 1px solid var(--black);
  color: var(--textColor)
}

.button:hover,
.button:focus {
  background: var(--color1);
}


.desktopFile {
  width: 5%;
  max-width: 100px;
  transition: width 0.5s;
  overflow: hidden;
}


.desktopFile.react-draggable {
  cursor: grab;

}

.desktopFile.react-draggable-dragging {
  cursor: grabbing;
  pointer-events: none;
  opacity: 0.5;
}


.desktopFile:hover,
.desktopFile.react-draggable-dragging {
  width: 10%;
  max-width: 132px;
  z-index: 5;
}

.desktopFile.react-draggable-dragging {
  z-index: 99;
}

.react-draggable-transparent-selection .desktopFile {
  pointer-events: none;
}

.desktopFile img {
  width: 100%;
  box-shadow: 0px 0px 2px var(--gray);
  border: 1px solid var(--black);
}

.desktopFile:hover img {
  box-shadow: 0px 0px 10px var(--color2);
  border: 1px solid var(--color2);
}

.desktopFile:hover .caption span {
  text-shadow: none;
  background: var(--color2);
}

.desktopFile video {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.desktopFile video.hide {
  display: none;

}


.desktopFile .caption {
  max-width: 23ch;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: var(--s-1);
  text-shadow: 0px 0px 5px white;
}




.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noevents {
  pointer-events: none;
}

.preview .desktopFile {
  cursor: unset;
}
.preview .videoTimeline,
.preview .handle {
  pointer-events: none;
}

.preview .app .handle .icon {
  display: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

.preview .react-draggable .button {
  pointer-events: all;
}

.preview .chat-input {
  display: none;
}

.react-draggable-dragging {
  z-index: 9999;
  cursor: grabbing;
}

.reading-dragger .react-draggable {
  transition: transform 0.5s;
}

/* Phone portrait */
@media only screen and (max-width: 400px) {
  /* Mobile related CSS goes here (400px and under) */

  #chat {
    top: 10%;
    left: 10%;
    width: 50%;
    min-width: 50%;
  }

  #stream {
    top: 60%;
    left: 10%;
  }

  #password {
    top: 60%;
  }

}