:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --ratio: 1.4;
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));

  
  
  --textColor: black;
  --color1: rgb(178, 247, 155);
  --color2: hotpink;
  --color3: yellow;
  --lightGray: #eee;
  --gray: gray;
  --darkGray: #333;
  --bgURL: url('https://storage.googleapis.com/molly-archive/backgrounds/BG9.gif')
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




a {
  color: inherit;
  text-decoration: none;
}


.backgroundHolder {
  background-image: var(--bgURL);
  background-size: auto;
}


#preview-message {
  position: fixed;
  cursor: none;
  background: var(--gray);
  color: white;
  top: var(--s-1);
  left: var(--s-1);
}

main.preview .button {
  background: var(--lightGray);
  color: var(--gray);
  border: 1px solid var(--black);
}

.fullBleed {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(2px);
  z-index: 999999;
}
.loading-overlay div {
  white-space: pre;
  text-align: center;
  padding-top: 30vh;
}
.hideOverflow {
  overflow: hidden;
}
.caption {
  font-size: var(--s-1);
}

.videoEditor {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 30%;
  --editorWidth: min(50vw, 540px);
  --editorColor: var(--color1);
  width: var(--editorWidth);
  border: 1px solid var(--black);
  box-shadow: 0px 0px 30px var(--editorColor);
}

.chat {
  background: white;
  position: absolute;
  display: flex;
  flex-direction:  column;
  left: 10%;
  right: 10%;
  width: calc(19% + 2 * var(--s-1));
  min-width: calc(15ch + 2 * var(--s-1));
  z-index: 99999;
  border: 1px solid var(--black);
  box-shadow: 0px 0px 12px var(--color1);
}
.chat .message {
  
  padding: var(--s-1);
  box-sizing: border-box;
}
.chat .chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: var(--s-3);
}
.chat-messages .message {
  align-self: flex-end;
  border-radius: var(--s0);
  text-align: right;
  color: var(--textColor);
  background: var(--color2);
  margin-top: var(--s-3);
  margin-right: var(--s-3);
  margin-left: var(--s-1);
}

.chat-input{
  background: var(--lightGray);
  margin-bottom: var(--s-2);
  border-bottom: 1px solid var(--darkGray);
}
.chat-input input{
  padding: var(--s-3);
  margin-bottom: var(--s-3);
}
.chat-input .button {
  display: inline-block;
}


.previewVideo {
  width: 100%;
  display: block;
  height: calc(var(--editorWidth) / 1.5 - 2px); 
  background: #eee;
}

.previewVideo .loading-indicator {
  position:  absolute;
  top: 50%;
  left: 50%;
}
.previewVideo.hide {
  display: none;
}
.previewVideo video {
  width: 100%;
}

.videoEditor .handle , .chat .handle{
  height: 20px;
  background: var(--color1);
  border-bottom: 1px solid var(--black);
}
.videoEditor .pause {
  position: absolute;
  top: 3px;
  right: var(--s-3);
  z-index: 999;
}
.videoTimelineContainer {
  height: 92px;
  position: relative;
}
.videoTimeline {
  height: 100px;
  display: flex;
  width: 100%;
  padding: 0px 0px;
  background: var(--black);
  height: 100%;
  
}

.timelineCursor {
  width: 3px;
  height: var(--s0);
  width: var(--s0);
  border-radius: 50%;
  background: var(--color2);
  box-shadow: 0px 0px 12px var(--color2);
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button {
  border-radius: var(--s-1);
  padding: var(--s-2);
  cursor: pointer;
  background: var(--color3);
  border: 1px solid var(--black);
  color: var(--textColor)
}
.button:hover {
  background: var(--color2);
}
.mute {
  position: fixed;
  z-index: 99998;
  top: var(--s-1);
  right: var(--s-1); 
}
.background.button {
  position:  fixed;
  z-index: 9998;
  top: var(--s-1);
  right: 120px;
}


.desktopFile {
  width: 5%;
  max-width: 100px;
}
.desktopFile img {
  width: 100%;
  box-shadow: 0px 0px 5px var(--gray);
  border: 1px solid var(--gray);
}
.desktopFile video {
  width: 100%;
  position: absolute;
  box-shadow: 0px 0px 5px var(--color1);
  border: 1px solid var(--color1);
}


.desktopFile .caption {
  max-width: 23ch;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  color: var(--darkGray);
  text-shadow: 0px 0px 5px var(--gray);
}

.videoDropZone {
  
}
.videoDropZone .caption {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.videoDropZone .poster {
  height: 100%;
  position:absolute;
  z-index: 0;
  left: -60%;
}
.videoDropZone:hover  {
  background: var(--color3);  
}
.videoDropZone.hasVideo:hover img {
  opacity: 0.2;
}
.videoDropZone:hover .caption {
  color: var(--textColor);
  background-color: var(--color3);
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noevents {
  pointer-events: none;
}


.preview .react-draggable, .preview .react-draggable > *, .preview .button, .preview .desktopFile.react-draggable{
  cursor: default;
  pointer-events: none;
}

.react-draggable-dragging {
  z-index: 9999;
}
.handle {
  cursor: move;
}
.desktopFile.react-draggable  {
  cursor: grab;
  
}
.desktopFile.react-draggable-dragging {
  pointer-events: none;
  opacity: 0.5;
  cursor: grabbing;
  background: var(--color3)
}

.desktopFile.react-draggable-dragging img {
  border: 1px solid var(--color2);
  box-shadow: 0px 0px 12px var(--color2);
}
.desktopFile:hover img {
  box-shadow: 0px 0px 5px var(--color1);
  border: 1px solid var(--color1);
}