:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --ratio: 1.4;
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background:  white;;

}

.fullBleed {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hideOverflow {
  overflow: hidden;
}
.caption {
  font-size: var(--s-1);
}

.videoEditor {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 30%;
  width: 50%;
  max-width: 800px;
  background: #eee;
  border: 1px solid rgb(178, 247, 155);;
}

.videoEditor .handle {
  height: 20px;
  background: rgb(178, 247, 155);
}
.videoTimelineContainer {
  height: 92px;
  position: relative;
}
.videoTimeline {
  height: 100px;
  display: flex;
  width: 100%;
  padding: var(--s0) 0px;
  background: rgb(67, 67, 67);
  height: 100%;
  
}

.timelineCursor {
  width: 3px;
  height: 100%;
  background: hotpink;
  z-index: 5000;
  position: absolute;
}

.desktopFile {
  width: 5%;
  max-width: 100px;
}
.desktopFile img {
  width: 100%;
  box-shadow: 0px 0px 5px black;
  border: 1px solid black;
}

.desktopFile .caption {
  max-width: 23ch;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.videoDropZone {
  background: gray;
  border-left: 1px solid rgb(67, 67, 67);
  border-right: 2px solid rgb(67, 67, 67);
}
.videoDropZone .caption {
  color: white;
  padding: var(--s-3);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 1px;
  z-index: 1;
}
.videoDropZone .poster {
  height: 100%;
  position:absolute;
  z-index: 0;
  left: -60%;
}
.videoDropZone:hover, .videoDropZone.hasVideo:hover {
  background: paleturquoise;
}
.videoDropZone.hasVideo {
  background: lightseagreen;
}

.previewVideo {
  width: 100%;
  display: block;
}

.previewVideo.hide {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noevents {
  pointer-events: none;
}


.react-draggable-dragging {
  z-index: 5000;
}
.videoEditor.react-draggable .handle {
  cursor: move;
}
.desktopFile.react-draggable  {
  cursor: grab;
}
.desktopFile.react-draggable-dragging {
  pointer-events: none;
  opacity: 0.5;
  cursor: grabbing;
}

.desktopFile.react-draggable-dragging img {
  border: 1px solid red;
  
}